
.center {
    border: 1px solid;
    border-radius: 10%;
    position: absolute;
    top: 35%;
    left: 20%;
    transform: translate(5%, -20%);
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 40px;
    margin: auto;


}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}
